In [2]:
'Домашняя Работа'

'Домашняя Работа'

In [3]:
2 ** 11

2048

In [14]:
s = 'It\'s "qouted string"'
s

'It\'s "qouted string"'

In [15]:
t = s
t

'It\'s "qouted string"'

In [19]:
print( "line 1 \nline 2\nline 3")

line 1
line 2
line 3

In [28]:
print( '''\\\\\\\\\n\\\\\\\n\\\\\n\\''')

\\\\
\\\
\\
\

In [31]:
s = "Hello world"
s[4]

'o'

In [30]:
s[-5]

'w'

In [33]:
s[6]

'w'

In [35]:
s = input()
a = len(s) //2
s[a]

asd

's'

In [38]:
q = "Light ray"
q[1:5:]

'ight'

In [52]:
w = "My next text"
w[2:8:]

' next '

In [40]:
q[-8:-4:]

'ight'

In [53]:
w[2-len(w):8-len(w):]

' next '

In [44]:
q[-4::]

' ray'

In [47]:
q[1::2]

'ih a'

In [48]:
q[::2]

'Lgtry'

In [49]:
q[::-1]

'yar thgiL'

In [54]:
e = input()
e[2:-1:]

qwertyuiop

'ertyuio'

In [55]:
e = input()
e[len(e) // 4 : len(e) // 4 *3 :]

qwertyui

'erty'

In [57]:
e = input()
if "eno" in e[::-1]:
    print("YES")
else :
    print("NO")

skdjfhonelksf
YES

In [66]:
w = q[-3::] + q[0:4:]
w

'rayLigh'

In [68]:
w = 6 * "one" + 3 * "two"
w

'oneoneoneoneoneonetwotwotwo'

In [69]:
st = '  one,two,three,four,five,six,seven,eight,nine,ten   '
st.split(",")

['  one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten   ']

In [85]:
ss = ""
for i in "Hello world":
    ss += i + "->"
ss

'H->e->l->l->o-> ->w->o->r->l->d->'

In [1]:
s11 = ""
s21 = ""
s1 = input()
s2 = input()
for i in s1.lower():
    if ("a" >= i >= "z") or (i == " "):
        continue
    s11 += i
for i in s2.lower():
    if ("a" >= i >= "z") or (i == " "):
        continue
    s21 += i
s11 == s21

HELLo World
hello    WoRLD

True

In [20]:
ss3 = "hello hello Hello hello"
aa = ss3.find("hel")
ss3.find("hel", aa + 1)

6

In [22]:
ss31 = ss3[::-1]
ss32 = "hel"
ss33 = ss32[::-1]
len(ss31) - ss31.find(ss33, ss31.find(ss33) +1) - len(ss33)

6

In [25]:
ss4 = "start hello python world"
ss4[ss4.find("he") : ss4.find("on") : ]

'hello pyth'

In [52]:
ss42 = ""
ss41 = ""
for index in enumerate(ss3.split()):
    ss41 += f'{index}'
for i in ss41:
    if i == " " or i == "," or i == "(" or i == ")" or i == "'" or i == "0":
        continue
    else:
        ss42 += i
ss42

'hello1hello2Hello3hello'

In [55]:
"{2}-{1}-{0}-{1}-{2}".format('val1', 'val2', 'val3')

'val3-val2-val1-val2-val3'

In [79]:
print('0123456789' * 4)
fs = '|{line:>5}|{1:#>10.2f}|{0:>10}|{2:0>10b}' 
print(fs.format(453, 59.058, 1, line=1))
print(fs.format(123453, 159.0, 7, line=5))
print(fs.format(-12, -159.099, 16, line=15))
print(fs.format(1200, -1059.099, 255, line=105))

0123456789012345678901234567890123456789
|    1|#####59.06|       453|0000000001
|    5|####159.00|    123453|0000000111
|   15|###-159.10|       -12|0000010000
|  105|##-1059.10|      1200|0011111111